<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>reply</key>
		<string>A</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>B</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>D</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>A</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>D</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>C</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>A</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>B</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>B</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>A</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>A</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>C</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
	<dict>
		<key>reply</key>
		<string>B</string>
		<key>explaination</key>
		<array>
			<string>正确</string>
			<string>【错误分析】不了解食物链的含义 【学习建议】建议学习食物链的含义</string>
		</array>
	</dict>
</array>
</plist>
