<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>button_location</key>
		<array>
			<string>195</string>
			<string>185</string>
			<string>785</string>
			<string>185</string>
			<string>195</string>
			<string>425</string>
			<string>785</string>
			<string>425</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>01.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>石头太重，任何力都无法影响它</string>
			<string>没有力作用在石头上，使它运动</string>
			<string>地面对石头的支撑力与石头受到的地球的吸引力相互平衡</string>
			<string>石头受到的力都相互抵消了</string>
			<string>地球的吸引力把石头吸在地面上 </string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>01.jpg</string>
			<string>02.jpg</string>
			<string>03.jpg</string>
			<string>04.jpg</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>195</string>
			<string>185</string>
			<string>785</string>
			<string>185</string>
			<string>195</string>
			<string>425</string>
			<string>785</string>
			<string>425</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>06.jpg</string>
			<string>12.jpg</string>
			<string>03.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>02.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>石头没有移动，说明没有受到力</string>
			<string>一定另外有一个力作用在石头上，和小朋友的推力方向相反</string>
			<string>石头太重 </string>
			<string>小朋友的推力大小等于地面的摩擦力</string>
			<string>小朋友的推力太小，地面的摩擦力太大</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>195</string>
			<string>185</string>
			<string>785</string>
			<string>185</string>
			<string>195</string>
			<string>425</string>
			<string>785</string>
			<string>425</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>01.jpg</string>
			<string>05.jpg</string>
			<string>06.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>03.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>只要箱子不重，就能被推动 </string>
			<string>向右直线运动，速度的变化无法判断</string>
			<string>向右直线运动，速度不变的匀速前进</string>
			<string>向右直线运动，速度越来越快的加速前进</string>
			<string>打滑推不动</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>280</string>
			<string>145</string>
			<string>690</string>
			<string>145</string>
			<string>280</string>
			<string>585</string>
			<string>690</string>
			<string>585</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>09.jpg</string>
			<string>06.jpg</string>
			<string>03.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>04.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>越来越慢，但会一直前进，因为没有力在影响它的运动</string>
			<string>立刻停下，因为没有这个小朋友的推力了</string>
			<string>速度不变，继续前进，因为没有力让它速度变慢</string>
			<string>越来越慢，最后停下，因为没有力支持它继续前进</string>
			<string>打滑动不了，因为没有摩擦力</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>498</string>
			<string>145</string>
			<string>316</string>
			<string>342</string>
			<string>216</string>
			<string>469</string>
			<string>7850</string>
			<string>4280</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>12.jpg</string>
			<string>11.jpg</string>
			<string>03.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>05.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>一直不变，因为皮球不受任何力作用</string>
			<string>越来越快，因为同时受到地球的吸引力和小朋友扔球的力作用 </string>
			<string>越来越快，因为受到地球的吸引力作用</string>
			<string>一直不变，因为一直受到地球的吸引力作用</string>
			<string>越来越慢，因为小朋友扔皮球的力慢慢耗尽</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>140</string>
			<string>158</string>
			<string>140</string>
			<string>283</string>
			<string>140</string>
			<string>408</string>
			<string>140</string>
			<string>533</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>11.jpg</string>
			<string>06.jpg</string>
			<string>03.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>06.jpg</string>
		<key>sign</key>
		<string>0</string>
		<key>answer</key>
		<array>
			<string>安徽宣城市</string>
			<string>浙江杭州市</string>
			<string>江苏苏州市</string>
			<string>江苏南京市</string>
			<string>西藏自治区拉萨市</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>220</string>
			<string>241</string>
			<string>560</string>
			<string>241</string>
			<string>220</string>
			<string>381</string>
			<string>220</string>
			<string>522</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>09.jpg</string>
			<string>02.jpg</string>
			<string>05.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>07.jpg</string>
		<key>sign</key>
		<string>0</string>
		<key>answer</key>
		<array>
			<string>安徽宣城市</string>
			<string>浙江杭州市</string>
			<string>江苏苏州市</string>
			<string>江苏南京市</string>
			<string>西藏自治区拉萨市</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>434</string>
			<string>220</string>
			<string>434</string>
			<string>327</string>
			<string>434</string>
			<string>435</string>
			<string>434</string>
			<string>542</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>12.jpg</string>
			<string>04.jpg</string>
			<string>03.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>08.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>一直不变，因为皮球不受任何力作用</string>
			<string>越来越快，因为同时受到地球的吸引力和小朋友扔球的力作用 </string>
			<string>越来越快，因为受到地球的吸引力作用</string>
			<string>一直不变，因为一直受到地球的吸引力作用</string>
			<string>越来越慢，因为小朋友扔皮球的力慢慢耗尽</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>88</string>
			<string>342</string>
			<string>88</string>
			<string>418</string>
			<string>88</string>
			<string>494</string>
			<string>80</string>
			<string>570</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>11.jpg</string>
			<string>02.jpg</string>
			<string>08.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>09.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>越来越慢，但会一直前进，因为没有力在影响它的运动</string>
			<string>立刻停下，因为没有这个小朋友的推力了</string>
			<string>速度不变，继续前进，因为没有力让它速度变慢</string>
			<string>越来越慢，最后停下，因为没有力支持它继续前进</string>
			<string>打滑动不了，因为没有摩擦力</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>149</string>
			<string>207</string>
			<string>149</string>
			<string>322</string>
			<string>149</string>
			<string>418</string>
			<string>149</string>
			<string>541</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>04.jpg</string>
			<string>05.jpg</string>
			<string>08.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>10.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>石头没有移动，说明没有受到力</string>
			<string>一定另外有一个力作用在石头上，和小朋友的推力方向相反</string>
			<string>石头太重 </string>
			<string>小朋友的推力大小等于地面的摩擦力</string>
			<string>小朋友的推力太小，地面的摩擦力太大</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>148</string>
			<string>269</string>
			<string>774</string>
			<string>269</string>
			<string>148</string>
			<string>488</string>
			<string>774</string>
			<string>488</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>01.jpg</string>
			<string>08.jpg</string>
			<string>06.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>11.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>石头太重，任何力都无法影响它</string>
			<string>没有力作用在石头上，使它运动</string>
			<string>地面对石头的支撑力与石头受到的地球的吸引力相互平衡</string>
			<string>石头受到的力都相互抵消了</string>
			<string>地球的吸引力把石头吸在地面上 </string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>428</string>
			<string>169</string>
			<string>428</string>
			<string>280</string>
			<string>428</string>
			<string>416</string>
			<string>428</string>
			<string>530</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>05.jpg</string>
			<string>02.jpg</string>
			<string>03.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>12.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>一直不变，因为皮球不受任何力作用</string>
			<string>越来越快，因为同时受到地球的吸引力和小朋友扔球的力作用 </string>
			<string>越来越快，因为受到地球的吸引力作用</string>
			<string>一直不变，因为一直受到地球的吸引力作用</string>
			<string>越来越慢，因为小朋友扔皮球的力慢慢耗尽</string>
		</array>
	</dict>
	<dict>
		<key>button_location</key>
		<array>
			<string>515</string>
			<string>199</string>
			<string>515</string>
			<string>316</string>
			<string>515</string>
			<string>432</string>
			<string>515</string>
			<string>549</string>
		</array>
		<key>detail_picture</key>
		<array>
			<string>05.jpg</string>
			<string>02.jpg</string>
			<string>03.jpg</string>
			<string>04.jpg</string>
		</array>
		<key>question</key>
		<string>11月17日，清华大学宣布，清华大学生命学院罗永章教授研究组在国际上首次发现热休克蛋白90α（Hsp90α）为一个全新的肿瘤标志物，自主研发的Hsp90α定量检测试剂盒已通过临床试验验证，获得了国家第三类（最高类别）医疗器械证书，并通过了欧盟认证。这也是人Hsp90α被发现24年来，全球首个将其用于临床的产品。</string>
		<key>test_picture</key>
		<string>13.jpg</string>
		<key>sign</key>
		<string>1</string>
		<key>answer</key>
		<array>
			<string>一直不变，因为皮球不受任何力作用</string>
			<string>越来越快，因为同时受到地球的吸引力和小朋友扔球的力作用 </string>
			<string>越来越快，因为受到地球的吸引力作用</string>
			<string>一直不变，因为一直受到地球的吸引力作用</string>
			<string>越来越慢，因为小朋友扔皮球的力慢慢耗尽</string>
		</array>
	</dict>
</array>
</plist>
